.shrek{
width: 200px;
height: 200px;
border-radius: 80px;
border:salmon 1px;
border-bottom: tomato;
align-content: space-between;
}
.bar{
color:red;
max-width: border 20px;
size: 100cm;
font-style: oblique;
border-block-color: 15;

}
#bar2{
color: orange;
}
#bar3{
color:royalblue
}